    <div data-role="page" data-theme='b'>

		<!-- 
        <div data-role="header" data-position="fixed" data-tap-toggle="false" data-theme='b'>
            <a href="http://nativedroid.godesign.ch/" data-ajax='false' target='_blank'>
				<i class='icon-android'></i>
			</a> 
			<p>&nbsp&nbsp&nbsp广点通测试</p>
        </div>
        -->
        <div data-role="content">   

			<ul data-role="listview" data-inset="false" data-icon="false" data-divider-theme="b">
	            <li data-role="list-divider">Demos</li>
	            <li >
					<a href="text.html" data-ajax="false"><i class='icon-align-left'></i> Text Elements</a>
	            </li>
	            <li >
					<a href="headerfooter.html" data-ajax="false"><i class='icon-angle-down'></i> Header &amp; Footer</a>
	            </li>
	            <li>
					<a href="tables.html" data-ajax="false"><i class='icon-table'></i> Tables</a>
	            </li>
	            <li>
					<a href="dialogsnpopups.html" data-ajax="false"><i class='icon-external-link'></i> Dialogs &amp; Popups</a>
	            </li>
	            <li>
					<a href="panels.html" data-ajax="false"><i class='icon-tasks'></i> Panels</a>
	            </li>
	            <li>
					<a href="autocomplete.html" data-ajax="false"><i class='icon-filter'></i> Autocomplete</a>
	            </li>
	            <li>
					<a href="collapsible.html" data-ajax="false"><i class='icon-chevron-up'></i> Collapsible</a>
	            </li>
	            <li>
					<a href="accordions.html" data-ajax="false"><i class='icon-chevron-right'></i> Accordions</a>
	            </li>
	            <li>
					<a href="listviews.html" data-ajax="false"><i class='icon-list'></i> Listviews</a>
	            </li>
	            <li>
					<a href="forms.html" data-ajax="false"><i class='icon-external-link'></i> Forms</a>
	            </li>
	            <li data-role="list-divider">Experimental</li>
	            <li>
					<a href="cards.html" data-ajax="false"><i class='icon-reorder'></i> Cards</a>
	            </li>
	            <li>
					<a href="gallery.html" data-ajax="false"><i class='icon-picture'></i> Gallery</a>
	            </li>
	            <li>
					<a href="homescreen.html" data-ajax="false"><i class='icon-home'></i> Homescreen</a>
	            </li>
	            <li data-role="list-divider">Information</li>
	            <li >
					<a href="gettingstarted.html" data-ajax="false"><i class='icon-magic'></i> Getting started</a>
	            </li>
	            <li>
					<a href="features.html" data-ajax="false"><i class='icon-lightbulb'></i> Features</a>
	            </li>
	            <li>
					<a href="colorsandstyles.html" data-ajax="false"><i class='icon-tint'></i> Colors &amp; Styles</a>
	            </li>
	            <li>
					<a href="icons.html" data-ajax="false"><i class='icon-fire'></i> Icons</a>
	            </li>
	            <li>
					<a href="license.html" data-ajax="false"><i class='icon-legal'></i> Credits &amp; License</a>
	            </li>
	        </ul>
        </div>

    </div> 
