<div data-role="page">
  <div data-role="header">
    <h1>我的页眉</h1>
  </div>

  <div data-role="content">
	<script type="text/javascript" id="gdt-6040403523009361">
	var TencentGDT = TencentGDT || [];
	TencentGDT.push({
	posid:'6040403523009361',
	type:'banner',
	//containerid:'ad_container',//如果容器不合适，可自定义广告容器
	filltype:'full',//填充方式，full：填满宽度，fix:固定大小,
	appid: "1102151323"
	});
	(function() {
	var doc=document, h=doc.getElementsByTagName('head')[0], s=doc.createElement('script');
	s.async=true; s.src='http://qzs.qq.com/qzone/biz/res/i.js';
	h && h.insertBefore(s,h.firstChild)
	})()
	</script>
    <p>此处是内容...</p>
  </div>

  <div data-role="footer">
    <div data-role="navbar">
      <ul>
        <li><a href="#" data-icon="plus">人脸检测</a></li>
        <li><a href="#" data-icon="minus">人脸比对</a></li>
        <!-- <li><a href="#" data-icon="delete">查找</a></li> -->
        <li><a href="#" data-icon="check">颜值得分</a></li>
        <li><a href="#" data-icon="info">人脸查找</a></li>
      </ul>
    </div>
  </div>
</div> 


<h1>广点通测试</h1>
